@import url("https://fonts.cdnfonts.com/css/proxima-nova-2");
@import url("https://fonts.cdnfonts.com/css/roboto");

@media screen and (max-width: 1067px){
  .showcase-img:first-child{
    margin-top: 5%;
  }
}

p {
  color: #000;
  text-align: left;
  line-height: 1.6em;
  font-size: 16px;
  font-family: "Proxima Nova";
}

h2 {
  color: #000;
  text-align: left;
  font-weight: bold;
  line-height: 1.4em;
  font-family: "Roboto Thin", sans-serif;
  font-size: 40px;
}

nav {
  background: #fff;
  min-height: 110px;
}

.nav-link {
  color: #000 !important;
  font-size: 18px;
  font-family: "Proxima Nova";
}

.nav-link:hover {
  color: #595959 !important;
}

.btn.nav-btn {
  border: #000 solid 1px;
  display: inline-block;
  padding: 1.625rem;
  border-radius: 32px;
  background-color: #000;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  transition: all 0.2s;
}

.btn.hero-btn {
  border: #000 solid 1px;
  display: inline-block;
  padding: 1.625rem;
  border-radius: 32px;
  background-color: #000;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #fff;
  color: black;
}

.header {
  padding-top: 7.2rem;
  text-align: center;
  height: 85vh;
}

header h1 {
  font-size: 66px;
  color: #000;
  font-weight: bold;
  font-family: "Roboto Thin", sans-serif;
}

header p {
  font-size: 21px;
  font-family: "Proxima Nova";
  color: #000;
  text-align: center;
  line-height: 1.6em;
}

.offcanvas-collapse {
  position: fixed;
  top: 7.05rem; /* adjusts the height between the top of the page and the offcanvas menu */
  bottom: 0;
  left: 100%;
  width: 400px;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: hidden;
  background-color: #fff;
  transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
}

.offcanvas-collapse.open {
  visibility: visible;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.showcase-img {
  width: 100%;
  margin-bottom: 20px;
}


.showcase .col-md-4:first-child {
  margin-right: -15px;
}

.showcase .col-md-4:last-child {
  margin-left: -15px;
}

.affiliate-section h2 {
  color: #000;
  text-align: left;
  line-height: 1.4em;
  font-family: "Roboto Thin", sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.affiliate-section p {
  color: #000;
  text-align: left;
  line-height: 1.6em;
  font-size: 16px;
  font-family: "Proxima Nova", sans-serif;
}

.affiliate-section img {
  width: 223px;
  height: 153px;
  border-radius: 10px;
}

.product-section {
  background-color: #e3e3e3;
  padding: 80px 0;
}

.product-section img {
  width: 295px;
  height: 372px;
  border-radius: 10px;
}

.product-details {
  margin-top: 50px;
}

.product-details h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-details p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
}

.product-section .btn {
  background-color: black;
  color: white;
  padding: 15px 40px;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #fff;
  color: black;
}

.resources-section {
  padding: 80px 0;
}

.card {
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: left;
}

.card-header {
  background-color: #f7f7f7;
  text-align: center;
  padding: 30px;
  border-radius: 5px 5px 0px 0px;
}

.card-header h3 {
  margin: 0;
  font-size: 24px;
}

.card img {
  max-width: 100%;
  margin-bottom: 20px;
  margin: auto;
  padding-bottom: 15px;
}

.card-text {
  text-align: left !important;
}

.card-body h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

.card p {
  font-size: 18px;
  margin-bottom: 0;
  text-align: center;
}

.brand-div{
  margin: 5%;
}

.testimonial-div{
  margin: 5%;
}

.form-button{
  margin-bottom: 5%;
}

.contact {
  background: #e3e3e3;
}

.footer {
  background: #e3e3e3;
}

/* Min-width 992px */
@media (min-width: 992px) {
  /* Navigation */
  .navbar.top-nav-collapse {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.025);
  }

  .offcanvas-collapse {
    position: static;
    top: auto;
    bottom: auto;
    left: auto;
    width: auto;
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
    overflow-y: visible;
    visibility: visible;
  }

  .offcanvas-collapse.open {
    -webkit-transform: none;
    transform: none;
  }

  .navbar .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }

  .navbar .nav-item .nav-link {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }

  .navbar .dropdown-menu {
    margin-top: 0.25rem;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
  }

  .navbar .dropdown-divider {
    width: 90%;
  }
  /* end of navigation */
}
